<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard - Survey Website</title>
    <link href="/css/main.css" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <h1 th:text="|${username} - Dashboard|"></h1>
</div>
<div class="container">
    <div th:each="survey : ${surveys}">
        <h3 th:text="${survey.getSurveyTitle()}"></h3>
        <a th:href="|/survey?id=${survey.getId()}|">
            <span>Respond to Survey</span>
        </a>
        <br>
        <a th:href="|/results/${survey.getId()}|">
            <span>View Results</span>
        </a>
    </div>
</div>

<div class="container">
    <div>
        <h3>Create New Survey</h3>
        <a href="/surveyCreation">
            <span>New Survey</span>
        </a>
    </div>
</div>
</body>
</html>
