<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link href="/css/main.css" rel="stylesheet"/>
</head>
<body id="error_body">
<div id="error_container">
    <div id="error_div1">
        <h1 id="error_h1">Error 404 - Page Not Found</h1>
        <h2 id="error_h2">Here's a survey question: <br> How did we get here?</h2>
        <strong><a href="\" id="error_a">Return to dashboard</a></strong>
    </div>
    <div id="error_div2">
        <img alt="Dancing Baby" id="error_img" src="/images/dancing-baby.gif">
    </div>
</div>
</body>
</html>