<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/main.css" rel="stylesheet"/>
</head>
<body>
<main>
    <div class="vertical-center full-container container">
        <div>
            <h1>Log In</h1>
            <form class="auth-form" method="post">
                <div>
                    <label>
                        <span>Username</span>
                        <input class="round-input" name="username" type="text">
                    </label>
                </div>
                <div>
                    <label>
                        <span>Password</span>
                        <input class="round-input" name="password" type="password">
                    </label>
                </div>
                <div>
                    <button class="button blue">Log In</button>
                </div>
            </form>
        </div>
    </div>
</main>
</body>
</html>
