<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link href="/css/main.css" rel="stylesheet"/>
</head>
<body>
<main>
    <div class="vertical-center full-container container">
        <h1>Sign Up</h1>
        <form method="post" class="auth-form">
            <div>
                <label>
                    <span>Username</span>
                    <input name="username" type="text" class="round-input">
                </label>
            </div>
            <div>
                <label>
                    <span>Password</span>
                    <input name="password" type="password" class="round-input">
                </label>
            </div>
            <div>
                <label>
                    <span>Confirm Password</span>
                    <input name="matchingPassword" type="password" class="round-input">
                </label>
            </div>
            <div>
                <button class="button blue">Sign Up</button>
            </div>
        </form>
    </div>
</main>
</body>
</html>
