<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link href="/css/main.css" rel="stylesheet"/>
</head>
<body>
<main>
    <div class="vertical-center full-container container">
        <h1>Sign Up</h1>
        <form class="auth-form" method="post">
            <div>
                <label>
                    <span>Username</span>
                    <input class="round-input" name="username" type="text">
                </label>
            </div>
            <div>
                <label>
                    <span>Password</span>
                    <input class="round-input" name="password" type="password">
                </label>
            </div>
            <div>
                <label>
                    <span>Confirm Password</span>
                    <input class="round-input" name="matchingPassword" type="password">
                </label>
            </div>
            <div>
                <button class="button blue">Sign Up</button>
            </div>
        </form>
    </div>
</main>
</body>
</html>
