<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link href="/css/main.css" rel="stylesheet"/>
</head>
<body>
<main>
    <div class="container">
        <h1>Sign Up</h1>
    </div>
    <div class="container">
        <form method="post">
            <div>
                <label>
                    <span>Username</span>
                    <input name="username" type="text">
                </label>
            </div>
            <div>
                <label>
                    <span>Password</span>
                    <input name="password" type="password">
                </label>
            </div>
            <div>
                <label>
                    <span>Confirm Password</span>
                    <input name="matchingPassword" type="password">
                </label>
            </div>
            <div>
                <button>Sign Up</button>
            </div>
        </form>
    </div>
</main>
</body>
</html>