<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Survey Creation</title>
    <link href="/css/main.css" rel="stylesheet"/>
</head>
<body id='question_page'>
<main>
    <div class="container">
        <div class="row">
            <div class="head-title">
                <span>Create a Survey</span>
            </div>
        </div>

        <div class="spaced">
            <label class="descriptor" for="survey_name">Survey Name</label>
            <input class="round-input" id="survey_name" name="survey_name" type="text">
        </div>

        <div class="spaced">
            <button class="button blue" id='new_question'>Add new Question</button>
            <button class="button red" id='rem_question'>Remove Last Question</button>
            <br>
            <select class="round-input" id='question_type'>
                <option value='text'>Text Answer</option>
                <option value='numeric'>Numeric Answer</option>
                <option value='multiple'>Multiple Choice</option>
            </select>
        </div>

        <div class="spaced" id="new_questions_box">

        </div>

        <div class="spaced">
            <button class="button green" id="survey_submit">Submit Survey</button>
        </div>
    </div>

</main>
<script src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js'></script>
<script src='/js/surveyCreation.js'>
</script>

</body>
</html>
