<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Survey</title>
  <link href="/css/main.css" rel="stylesheet"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script>
    $(document).ready(function(){
      function writtenQuestion(num, question){
        let questionHTML = '';
        questionHTML += '<table id="question_' + question.id + '" class="written">';
        questionHTML += '<caption> Question ' + num + '</caption>';
        questionHTML += '<tr> <td>' + question.query + '</td></tr>';
        questionHTML += '<tr> <td> <textarea rows="4" cols="50">Response goes here...</textarea> </td> </tr>';
        questionHTML += '</table>';
        return questionHTML;
      }

      function numericQuestion(num, question){
        let questionHTML = '';
        questionHTML += '<table id="question_' + question.id + '" class="numeric">';
        questionHTML += '<caption> Question ' + num + '</caption>';
        questionHTML += '<tr> <td>' + question.query + ' (' + question.min + ' - ' + question.max + ') </td></tr>';
        questionHTML += '<tr> <td> <input type="number" min="' + question.min + '" max="' + question.max +'"> </td> </tr>';
        questionHTML += '</table>';
        return questionHTML;

      }

      function multiQuestion(num, question){
        let questionHTML = '';
        questionHTML += '<table id="question_' + question.id + '" class="multiselect">';
        questionHTML += '<caption> Question ' + num + '</caption>';
        questionHTML += '<tr> <td>' + question.query + '</td></tr>';
        $.each(question.answers, function(index, value){
          questionHTML += '<tr> <td> <input type="radio"><label>' + value + '</label> </td></tr>';
        });
        questionHTML += '</table>';
        return questionHTML;

      }

      function loadSurvey(id){
        $.ajax({
          url: "/api/survey/noresponses?id=" + id,
          dataType: 'json',
          type: 'get',
          cache: 'false',
          success: function(survey){
            let surveyHTML ='';
            $.each(survey.surveyQuestions, function (index, value){
              switch (value.questionType){
                case "WRITTEN":
                  surveyHTML += writtenQuestion(index+1, value);
                  break;

                case "MULTISELECT":
                  surveyHTML += multiQuestion(index+1, value);
                  break;

                case "NUMERIC":
                  surveyHTML += numericQuestion(index+1, value);
                  break;

                default:
                  //TODO fix this
                  console.log("TYPE ERROR");
              }
            });
            surveyHTML += '<button type="button" id="submit_button">Submit</button>'
            $("#survey_title").empty();
            $("#survey_body").empty();
            $("#survey_title").append(survey.surveyTitle);
            $("#survey_body").append(surveyHTML);
          }
        });
      }

      $("submit_button").click(function(){
        $.post("",
        {

        }, function(data,status){
          alert("Data: " + data + "\nStatus: " + status);
        });

      });

      loadSurvey(1);
    });
  </script>
</head>
<body>
  <main>
    <h2 id="survey_title"></h2>
    <div id="survey_body">

    </div>
  </main>
</body>
</html>